# OS generated #
._*
.DS_Store*
.Trash-*
*~
.Trashes
Thumbs.db
.directory

# Compiled #
*.war
*.jar
*.exe
*.app
*.dmg
*.zip
*.deb

# Editors
.idea/
nbproject/
nbactions.xml
nb-configuration.xml
project.properties
project.xml
Session.vim
bin/
/vendor/
composer.lock
.phpunit.result.cache
